<header class="header-container">
<div class="header-content">
  <div class="titulo-container">
    <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
    <h1>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h1>
    <p>ISSN: 1234-5678</p>
  </div>

  <div class="usuario-container">
    <div class="dropdown">
      <i class="pi pi-globe" style="font-size: 1em"></i>
      <select name="linguagem">
        <option>PT,BR</option>
        <option>EN,US</option>
      </select>
    </div>

    <div class="login">
      <div class="email">
        <div class="bem-vindo"><p >Bem vindo!</p></div>
        <div class="user-email"><p>alguem12@galoascience.com</p></div>
      </div>
      <div class="img">
                         <span>
                             <img class="border-circle " height="40" width="42" src="assets/img/user-icon.svg" alt="login">
                             <div style="margin-top: -45px; margin-left: 30px;">
                             <i class="notify">{{notificacao}}</i>
                             </div>
                         </span>
      </div>
    </div>

  </div>
</div>
</header>
