<section class="topico-input">
    <h1>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</h1>
    <div class="formulario">
      <label class="assunto" for="assunto">Assunto</label>
      <input type="text" id="assunto" name="Assunto"
             placeholder="Defina um tópico sucinto para notificar os autores...">
      <div class=" text-area-container">
        <label class="assunto" for="conteudo">Conteúdo</label>
        <textarea name="Conteúdo" id="conteudo" ></textarea>
        <div class="enviar-container">
          <div class="btn-container">

            <button class="btnEnviar" (click)="enviar()">Enviar</button>
          </div>

        </div>

      </div>
    </div>
</section>
