.criar-topico {
  display: grid;
  padding: 20px;

  h2 {
    margin: 15px auto 0 auto;
    color: #ED7839;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
  }


  .svg-container {
    margin: 15px auto 0 auto;


    svg {
      margin: 0 50px 0 0;
    }
  }

  p {
    margin: 30px auto 15px auto;
    text-align: center;
    width: 626px;
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #595959;
  }

  .btn-criar-container {
    margin-bottom: 20px;
    margin-top: 10px;

    .btnCriarTopico {
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
      padding: 10px;
      border: none;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      color: #FFFFFF;
      font-family: Quicksand, sans-serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 16px;

      i {
        margin-right: 5px;
      }
    }

    .borda-btn {
      display: flex;
      justify-content: center;
    }
  }
}
