<footer class="footer-container">
  <div class="borda">

  </div>
  <div class="footer-content">
  <div class=" logo ">
    <img class="galoa-logo" src="./assets/img/galoa-logo.svg" alt="galoa logo">
    <a href="/">Saiba mais</a>
  </div>
  <p > <strong> Preservar a memória da conferência e aumentar o alcance do
    conhecimento científico </strong> é a razão pela qual o Processo de Galoá foi criado.
    <br>
    <br>
    Os trabalhos da conferência publicados aqui são de acesso aberto e nossa indexação mantém os trabalhos
    apresentado na conferência fácil de encontrar e citar.</p>
  </div>
</footer>
