<section class="navigation-container">
  <div class="logo-container">
    <p>SLACA 2019</p>
  </div>
  <div class="img-container"><img src="assets/img/slaca_logo.png"
            alt="logo da slaca com uma fruta laranja metade fruta e metade tecnologia e um nome 13 slaca"></div>

    <ul class="menu-container">
      <li><a routerLink="/">Apresentação</a></li>
      <li><a routerLink="/">Comitês</a></li>
      <li><a routerLink="/">Autores</a></li>
      <li><a routerLink="/">Eixos temáticos</a></li>
      <li><a routerLink="/">Trabalhos</a></li>
      <li><a routerLink="/">Contato</a></li>
    </ul>

</section>
