<article class="discussao">
  <h2 class="titulo-container">Discussões</h2>
  <!--  criar topico-->
  <ng-container *ngIf="index == 0">
    <app-criar-topico></app-criar-topico>
  </ng-container>

  <!--topico input-->
  <ng-container *ngIf="index == 1">
    <app-topico-input></app-topico-input>
  </ng-container>

  <!--topico criado-->
  <ng-container *ngIf="index == 2">
    <app-topico-criado></app-topico-criado>
  </ng-container>
  <!--comentarios-->
  <ng-container *ngFor="let topicos of topicosModel">
    <app-comentarios [topicosArr]="topicos"></app-comentarios>
  </ng-container>
</article>
